*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}

html,body{
    height: 100%;
    width: 100%;
    /* background-color: red; */
}

/* First Nav */

#nav1{
    height: 70px;
    width: 100%;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;

}


#nav1-left{
    display: flex;
    align-items: center;
    justify-items: center;
    
}

#nav1-right{
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 35px;
}
#nav1-right h1{
   font-size: 18px;
   font-weight: 500;
}
#nav1-right span{
    font-size: 18px;
    font-weight: 500;
    color: rgb(126, 126, 126);
   
 }



.circle{
    height: 22px;
    width: 22px;
    background-color: black;
    border-radius: 50%;
    
}


/* First nav end */


/* 2nd Nav */

#nav2{
    height: 80px;
    width: 100%;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    padding: 40px;
    gap: 100px;
    
}

#nav2 h1{
    font-size:17px ;
    text-transform:uppercase;
    font-weight: 500;
}

/* 2nd navbar end */

/* content Area */


#content{
    height: 82.3vh;
    width: 100%;
    background-color: blue;
}

#text-content{
    height: 43%;
    width: 100%;
    display: flex;
    background-color: antiquewhite;
    overflow-x: auto;
}

#text-content::-webkit-scrollbar{
    background-color: transparent;
    height: 7px;
}
#text-content::-webkit-scrollbar-thumb{
    background-color: orangered;
}

.elem{
    flex-shrink: 0;
    height: 100%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.elem h1 {
    font-size:7.5vw;
    font-weight: 300;
}

#image-content{
    height: 57%;
    width: 100%;
   display: flex;
   overflow-x: auto;
}

#image-content img{
    height: 100%;
    width: 100%;
    flex-shrink: 0;
    object-fit: cover;
    object-position: 0% 25%;
   
}